body {
  background-color:#fff;
  text-align: center;
  /* color: #fff; */
  font-family: sans-serif;
}


.topnav {
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}

#mechanix {
 padding-left: 2em;
 font-family: 'Calligraffitti', cursive;
 color: #ffb228;
 font-size: 1.5em;
}

.topnav a:hover {
 background-color: #dfe2e2;
 color: black;
}

#signUpForm {
  display: none;
}

.dashForm {
  margin-top: 100px;
}


.dashForm input[type="text"], input[type="password"] {
  display: block;
  width: 400px;
  /* height: 60px; */
  padding: 24px 15px;
  background: none;
  border: 2px solid #ff9900;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.dashForm input[type="text"]:active, input[type="password"]:active {
  border: 2px solid #ff9900;
}
.nameBox input[type="text"]{
  display: inline;
  width: 195px;
}


.dashForm input[type="submit"] {
  width: 400px;
  /* height: 60px; */
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  padding: 15px 15px;
  border: 2px solid rgba(0,0,0,0.8);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
