/* .landing {
  background-color: black;
  color: white;
} */

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#town, #thika, #mombasa {
  display: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}

#login {
  float: right;
  padding-right: 4em;
}

#home {
  padding-left: 6em;
}

#mekanix {
  padding-left: 2em;
  font-family: 'Calligraffitti', cursive;
  color: #ffb228;
  font-size: 1.5em;
}

.topnav a:hover {
  background-color: #dfe2e2;
  color: black;
}

.backgroundImage {
  background-image: url("https://images.pexels.com/photos/205740/pexels-photo-205740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  height: 550px;
}

.locationImage {
  background-image: url("https://images.pexels.com/photos/1203808/pexels-photo-1203808.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  height: 1000px;
}

.locationContent {
  padding: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1000px;
}

.content {
  padding: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 550px;
}

.welcome {
  text-align: center;
  padding-top: 10em;
  font-family: 'Doppio One', sans-serif;
}

#about {
  margin-top: 5em;
}

#about p {
  color: #7d7d7d;
}

#pic1 {
  width: 300px;
  height: 300px;
  padding-top: 2em;
}

#pic2 {
  width: 300px;
  height: 300px;
  padding-top: 2em;
}

#pic3 {
  width: 300px;
  height: 300px;
  padding-top: 2em;
}

.same {
  text-align: center;
}

#about {
  text-align: center;
}

#about h5 {
  color: #aaaaaa;
}

.des h2 {
  text-align: center;
  padding-top: 1.5em;
}

.same p {
  padding-top: 1em;
  color: #7d7d7d;
}

.col {
  background-color: #ffd700;
  height: 10em;
  margin-top: -1em;
  text-align: center;
  padding-top: 2em;
  color: white;
}

.foot {
  background-color: #343434;
  height: 300px;
  color: white;
  padding-top: 2em;
}

#foot {
  text-align: center;
  padding-top: 2em;
}

.foot h5 {
  padding-bottom: 0.5em;
}

.myForm, .dropdown {
  text-align: center;
  padding-top: 20%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.more h1 {
  text-align: center;
  color: #ff9900;
}

.row h3 {
  color: #ff9900;
  padding-top: 2em;
